.jumbotron {
  padding: 1em 1em;
}

#order-alert {
  display: none;
}

#ingredient-alert {
  display: none;
}

#beverage-alert {
  display: none;
}

#size-alert {
  display: none;
}

.order {
  display: none;
}

.custom-card-img-top {
  font-size: 2rem;
  padding: 1rem;
  background-color: #f8f9fa;
  text-align: center;
}

.card-header {
  background-color: #212529;
  color: white;
  font-weight: bold;
}
